/src/vendor
/src/.env
/src/.env.*
!/src/.env.example
/src/public/storage
/src/public/hot
/src/public/build
/src/storage/*.key
/src/storage/pail
/src/node_modules
/src/.phpunit.result.cache
/src/.phpunit.cache

# IDE
#.vscode/
.idea/
*.log

# Docker custom
docker/php/Dockerfile
